@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alloy DiagramBuilder MVC</h1>
    <p class="lead"><a href="https://github.com/liferay/alloy-ui/" target="_blank">Alloy-ui</a> Diagram Builder for ASP.NET MVC</p>
    <p><a href="http://alloyui.com/examples/diagram-builder/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Alloy DiagramBuilder is a framework built on top of YUI3 (JavaScript) that uses Bootstrap 3 (HTML/CSS)
            to provide a simple API for building high scalable applications
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/Behzadkhosravifar/Alloy-DiagramBuilder-MVC">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>Drag and drop diagram elements, create new tasks, draw connectors from node to node.</p>
        <p><a class="btn btn-default" target="_blank" href="http://alloyui.com/tutorials/diagram-builder/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" target="_blank" href="http://alloyui.com/api/classes/A.DiagramBuilder.html">Learn more &raquo;</a></p>
    </div>
</div>