<div id="divDiagram">
    @*<input type="hidden" name="alloyDiagramId" id="alloyDiagramId" value="" />*@
    <div id="myDiagramContainer">
        <div id="myDiagramBuilder" title="Test View Tooltip 2"></div>
    </div>
</div>
