@using AlloyDiagram.Core
@using AlloyUiDiagram

@section scripts{
    @Scripts.Render("~/bundles/alloy")

    <script>
        var saveButton = function () {
            SaveDiagram(diag1, $('#diagramName').val(), "/api/diagramApi/SaveDiagram",
                function () {
                    document.location.href = '@Url.Action("EditDiagrams", "Alloy")';
                },
            function () { alert("Can't store!") });
        };
    </script>
}

<br />
<br />

@Html.Diagram(AlloyHelper.GetAvailableFieldsByUserRole(0), new Diagram(), "diag1")

<br />
<br />

<button onclick="saveButton();">Create Diagram</button>
<input id="diagramName" type="text" placeholder="Enter Diagram Name" name="DiagramName" />