@section scripts{
    @Scripts.Render("~/bundles/alloy")

    <script type="text/javascript">
        var diagramStore = null;
        $(function () {
            $("#divDiagram").html('<div id="myDiagramContainer"><div id="myDiagramBuilder" title="Test View Tooltip 2"></div></div>');
            DiagramDrower('myDiagramContainer', 'myDiagramBuilder', [], [], false, function (diag) {
                diagramStore = diag;
            });
        });
    </script>
}

<br />
<br />
<br />
<br />
<div class="col-xs-9" id="divDiagram"></div>

<br />
<br />

<button onclick="copyDiagram()">Test Copy Diagram</button>
<input id="diagramName" type="text" placeholder="نام نمودار" name="DiagramName" />


<script>
    var copyDiagram = function () {
        var x = diagramStore.toJSON();
        x.DiagramName = $("#diagramName").val();
        $.post(window.location.origin + "/api/diagram/SaveDiagram", x, function (d) {
            document.location.href = "@Url.Action("TestPage", "Alloy")";
        });
    };
</script>