@section scripts{
    @Scripts.Render("~/bundles/alloy")

    <script type="text/javascript">
        $.get(window.location.origin + "/api/diagram/GetSavedData", function(data) {
            DiagramDrower('myDiagramContainer2',
                'myDiagramBuilder2',
                data.nodes,
                data.connections,
                true,
                function(diagram) {
                    // some changes on diagram object
                });
        });
    </script>
}




<br />
<br />
<br />
<br />

<form>
    <div id="myDiagramContainer2">
        <div id="myDiagramBuilder2" title="Test View Tooltip 2"></div>
    </div>
</form>